amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.4
django-celery==3.1.17
django-chartit2==0.2.2
django-mako-plus==3.0.16
googlefinance==0.7
kombu==3.0.35
Mako==1.0.4
MarkupSafe==0.23
psycopg2==2.6
pytz==2016.3
simplejson==3.8.2
virtualenv==15.0.1
yahoo-finance==1.2.1