{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link type='text/css' href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link type='text/css' href='{% static "colorful/colorPicker.css" %}' rel="stylesheet">
        <script src='{% static "colorful/jQuery.colorPicker.js" %}'></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link type='text/css' href='{% static "bootstrap/css/ie10-viewport-bug-workaround.css" %}' rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    .set_height {
        height:800px;
    }

    .top-buffer { margin-top:100px; }

</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='{% url "dashboard1" %}'>Burguburu web App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href='{% url "dashboard1" %}'>Dashboard</a></li>
            <li><a href='{% url "dashboard2" %}'>Profile</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar set_height top-buffer">
          <ul class="nav nav-sidebar">
          </ul>
        </div>
        <div class="col-md-6 set_height top-buffer">
            <form action="/your-name/" method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Submit" />
            </form>
        </div>


        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src='{% static "bootstrap/js/ie10-viewport-bug-workaround.js" %}'></script>
  </body>
</html>

